@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
    background-image: url(./img/background.jpg);
    margin: 0%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Grand Hotel', cursive;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    display: flex;
}


td {
    padding: 12px;
}


h1 {
    margin-bottom: 0%;
    margin-top: 12px;
}


.main {
    padding-top: 260px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    width: 100vw;
    height: 80vh;
}


.header {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 160px;
}


.logo {
    width: 300px;
}


.inputfield {
    border: unset;
    outline: none;
    background-color: transparent;
}


.inputfield::placeholder {
    color: rgb(60, 60, 60);
    font-size: 18px;
}


.button {
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 16px;
    cursor: pointer;
    background-color: transparent;
    border: unset;
    color: rgb(60, 60, 60);
    transform: rotate(17deg);
}


.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 60px;
    background-image: url(./img/pokeicon.png);
    background-size: cover;
}


.pokemonCard {
    margin: 10px;
    width: 250px;
    height: 500px;
}


.type {
    margin-bottom: 4px;
    background-color: rgb(139, 139, 139);
    padding: 4px;
    border-radius: 8px;
}


.pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 240px;
    background-color: rgb(173, 173, 173);
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(56, 56, 54, 0.5);
}


.pokedex img {
    object-fit: contain;
    width: 120px;
    height: 140px;
}


.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    min-height: 300px;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(56, 56, 54, 0.5);
}


.tabs {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    margin-top: 28px;
}


.tab {
    cursor: pointer;
}


.tab:hover {
    color: rgb(173, 173, 173);
}


.table {
    margin: 8px;
}


@media (max-width: 330px) {
    .logo {
        width: 250px;
    }
}

@media (max-width: 270px) {
    .logo {
        width: 200px;
    }

    form {
        display: unset;
    }
}

@media (max-width: 330px) {
    .logo {
        width: 150px;
    }
}